@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'codec';
		src: url('./assets/font/Codec.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'codec-Bold';
		src: url('./assets/font/CodecBold.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'codec-light';
		src: url('./assets/font/CodecLight.ttf');
    font-display: swap;
	}
	
}