@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'codec';
		src: url('./assets/font/Codec.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'codec-Bold';
		src: url('./assets/font/CodecBold.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'codec-light';
		src: url('./assets/font/CodecLight.ttf');
    font-display: swap;
	}
	
}

.bg-photo {
	background: url(./assets/img/bg.webp) fixed center center/cover;
}

.bg-base {
	background: url(./assets/img/bg2.webp) fixed center center/cover;
}

.bg-phone {
	background: url(./assets/img/bgPhone.webp) fixed center center/cover;
}